.header{
    position: absolute;
    width: calc(49rem + 20vw);
    border-bottom: 0.0000001px solid white;
    left: 240px;
    top: 5px;
    height: 3rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px; 
    z-index: 10;
    gap: 15px;
    h2{
        left :226px;
        padding-left: 5px;
        font-size: x-large;
        letter-spacing: 1px;
    }
    .blockmenu{
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        align-items: center;
        .ri{
            font-size: medium;
            font-weight: 500;
        }

        .add-btn{
            width: 100%;
            height: 100%;
            margin-bottom: 8px;
            border-radius: 14px;

            padding: 5px 15px;
            text-align: baseline;

        }
        
    }
    .menublock{
        display: none;
        flex-direction: column;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        gap: 2px ;
        padding: 8px;
        right: 0;
        top: 2.7rem;
        margin: 5px;
        width: 7rem;
        height: 8rem;

        button{
            width: 100%;
            height: 100%;
        }
        .logout{
            background-color: rgba(255, 68, 0, 0.9);
        }
        button:hover{
            opacity: 0.9;
        }
    }
    
    
}
