.wrapper-form-create-board {
  position: fixed;
  inset: 0;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cancle-box{
    z-index: 1;
}
.wrapper-first-half{
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    z-index: 99;
    min-width:30rem;
}
.board-details-header{
 /* background-color: aqua; */
 min-width: max-content;
 display: flex;
 justify-content: space-between;
 align-items: start;
 gap: 2rem;
}

.toggle-icon-details{
    cursor: pointer;
}

.task-details-heading {
  margin-top: 0;
  color: white;
  background-color: transparent;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: .5rem;

  
}
.task-details-desc{
    font-size: 1rem;
    color: floralwhite;
}


/* checkbox label style */
.subtask-checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: .5rem;
  margin-left: .5rem;
  color: #fff;
  cursor: pointer;
  font-size: 0.85rem;
}

/* checkbox itself */
.subtask-checkbox input[type="checkbox"] {
  accent-color: #6cddac;
  transform: scale(1.5);
  cursor: pointer;
}

/* completed subtask styling */
.subtask-checkbox.completed .subtask-title {
  text-decoration: line-through;
  color: #888;
}

/* not completed */
.subtask-title {
  text-transform: none;
}

/* task section heading */
.subtask-heading {
  color: #4cc1e5;
  font-size: 1rem;
  margin: 1rem 0;
}

/* button container */
.task-actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

}

/* buttons general */
.btn {
  padding: 1rem 1rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 100%;
}

/* update button specific */
.action-update-btn {
  background-color: #4cc1e5;
}

/* delete button specific */
.delete-btn {
  background-color: #e54c4c;
}



.action-status{
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
  margin-bottom: 1rem;


}
.action-status > *{
    padding: 1rem;

}




