.signup__container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  background-color: #17171e !important;
}

.signup__form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25rem;
  min-height: 30rem;
  background: #2c2c38;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 0 auto;
}

.signup__title {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;

  background: linear-gradient(90deg, #7c73f1, #cbc7ff, #f0f0f3, #7c73f1);
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: textGradientAnimation 4s infinite linear;
}

@keyframes textGradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.signup__field-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  position: relative;
}

.signup__label {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  color: #ccc;
}

.signup__input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.215);
  font-size: 0.8rem;
  padding: 0.7rem 0.9rem;
  background-color: transparent;
  color: white;
  border-radius: 6px;
  transition: border 0.3s ease;
}

.signup__input:focus {
  border-color: #a2a2ff;
  outline: none;
  background-color: transparent;
}

.signup__input::placeholder {
  color: #aaa;
  font-size: 0.8rem;
}

.signup__toggle-btn {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  right: 0.5rem;
  top: 2.4rem;
  cursor: pointer;
  color: #fff;
}

.eye-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.signup__nav {
  font-size: 0.8rem;
  padding: 0.7rem 0;
  text-align: start;
  color: #ccc;
}

.signup__nav_link {
  color: rgb(77, 244, 244);
  text-decoration: none;
  transition: color 0.3s ease;
}

.signup__nav_link:hover {
  color: cyan;
}

.signup__submit {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: transparent;
  color: white;
  z-index: 1;
  width: 100%;
}

/* Button hover animation */
.signup__submit::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: rgba(255, 255, 255, 0.977);
  z-index: -1;
  transition: height 0.6s ease;
  border-radius: 0 0 10px 10px;
}

.signup__submit:hover::before {
  height: 100%;
}

.signup__submit:hover {
  color: black;
}

.eye-icons {
  position: absolute;
  right: 0.5rem;
  top: -.1rem;
}
