.sign-form{
    height: -500px;
    width: 100%;
    position: relative;
    background-color: transparent;
    top: 500px;
    left: 0;
    z-index: 1000;
}
.sign-form{
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    column-gap: 22px;
    height: 370px;
    border: 2px solid white;
    width: 350px;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%, -50%);
    background: #2C2C38;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);

    .inputs{
        color: white;
        justify-content: center;
        font-weight: bold;
    }
}
input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
