/* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.Toastify__toast-container {
background: transparent !important;
  }


.Toastify__toast-icon {
  background: transparent !important;
  box-shadow: none !important;
}

/* Remove background from close (X) button */
.Toastify__close-button {
  background: transparent !important;
  box-shadow: none !important;
  color: white !important; /* or any color you prefer */
}

.loader-logo{
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(45deg, #7c73f1, #cbc7ff, #f0f0f3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Optional: make toast fully transparent background */
.Toastify__toast {
  background-color: rgba(30, 30, 30, 0.9) !important;
  color: white !important;
  border-radius: 10px;
}

html, body {
  width: 100%;
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Splash Screen Container */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #2c2c38;
  animation: fadeIn 1s ease-in;
}

/* Splash Content (Loader + Logo) */
.loading-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Gradient Text Logo */
.loader-logo,
.logo {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(45deg, #7c73f1, #cbc7ff, #f0f0f3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}

/* Optional: Animate Loader */
.loading-container svg {
  animation-duration: 2s !important;
}

.Task-block{
  background-color: #2c2c38 !important;
}




